* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(../img/fundo.png) repeat-x;
}

#container {
    width: 850px;
    margin: 0 auto;
}

#topo {
    height: 200px;
    background: url(../img/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
}

/**LOGO TOPO**/

.logo {
    width: 152px;
    height: 66px;
    background: url(../img/logo.png) no-repeat center;
    text-indent: -9999px;
}

/**BARRA DE NAVEGAÇÃO**/

#topo ul li {
    list-style: none;
    background: #b10333;
    margin-top: 30px;
    float: left;
}

#topo ul li a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background: url(../img/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;
}

body.home #navegacao a#home, 
body.brasil #navegacao a#brasil, 
body.internacional #navegacao a#internacional, 
body.economia #navegacao a#economia, 
body.saude #navegacao a#saude, 
body.ciencia #navegacao a#ciencia, 
body.fotos #navegacao a#fotos {
    color: #fff;
    background: #de003e;
    cursor: text;
}

/* Estrutura */

#conteudo {
    margin-top: 10px;
    background: #b4b3b3
}

#conteudo-primario {
    width: 300px;
    float: left;
    margin: 0 0 20px 225px;
}

#conteudo-secundario {
    width: 300px;
    float: left;
    margin: 0 0 20px 25px;
}

#conteudo-lateral {
    width: 200px;
    float: left;
    margin: 0 0 20px -850px;
}


/* RODAPÉ */

#container-rodape {
    background: #294c71;
    padding: 22px;
}

#rodape {
    width: 850px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}